<!-------landin page css starts ---->
	.radios
	{
		background-color:black;
		color:blue;
	}
.jumbotron
{
background-color:white;
color:Blush;
box-sizing: 10;
height: 10;
}
         #nttLogo{
            
            height:150px;
            width:150px;
            background-color:grey;
            align-content: bottom left;
    }
    .head h1{
	font-family: 'Lucida', Georgia, serif;
	font-size: 38px;
	font-weight: normal;
	padding: 19px;
	padding-top: 10px;
	margin: 5px;
	margin-bottom: 10px;
	color: black;
	text-align: left;
	width: 1020px;
	height: .3em;
	.body {
    
}

<!-----product details--->
.jumbotron
{
background-color:White;
color:Blush;
box-sizing: 10;
height: 10;
}
    P{ font color: blue;
    }
 <!------form add cart----> 
  .jumbotron
{
background-color:Blush;
color:Blush;
box-sizing: 10;
height: 10;
}
<!------form add category-->
.jumbotron
{
background-color:Blush;
color:Blush;
box-sizing: 10;
height: 10;
}

.jumbotron
{
background-color:Blush;
color:Blush;
box-sizing: 10;
height: 10;
}

.jumbotron
{
background-color:Blush;
color:Blush;
box-sizing: 10;
height: 10;
}


.jumbotron
{
background-color:Blush;
color:Blush;
box-sizing: 10;
height: 10;
}


.jumbotron
{
background-color:Blush;
color:Blush;
box-sizing: 10;
height: 10;
}

.jumbotron
{
background-color:Blush;
color:Blush;
box-sizing: 10;
height: 10;
}
.nav-item{
	decoration: none;
}
.navbar-nav{
	decoration:none;
}

<style>
	.radios
	{
		background-color:black;
		color:blue;
	}
.jumbotron
{
background-color:Blush;
color:Blush;
box-sizing: 10;
height: 10;
}
         #nttLogo{
            
            height:150px;
            width:150px;
            background-color:grey;
            align-content: bottom left;
    }
    .head h1{
	font-family: 'Lucida', Georgia, serif;
	font-size: 38px;
	font-weight: normal;
	padding: 19px;
	padding-top: 10px;
	margin: 5px;
	margin-bottom: 10px;
	color: black;
	text-align: left;
	width: 1020px;
	height: .3em;
	.body {
    background-image: url("im/backscreen.jpg");
}



.radios
	{
		background-color:black;
		color:blue;
	}
.jumbotron
{
background-color:Blush;
color:Blush;
box-sizing: 10;
height: 10;
}
         #nttLogo{
            
            height:150px;
            width:150px;
            background-color:grey;
            align-content: bottom left;
    }
    .head h1{
	font-family: 'Lucida', Georgia, serif;
	font-size: 38px;
	font-weight: normal;
	padding: 19px;
	padding-top: 10px;
	margin: 5px;
	margin-bottom: 10px;
	color: black;
	text-align: left;
	width: 1020px;
	height: .3em;
	.body {
    background-image: url("im/backscreen.jpg");
}
